// theme colors
$primary: #0275d8;
$secondary: #6c757d;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$error: #d9534f;
$light: #f8f9fa;
$dark: #343a40;
$white: #fff;
$black: #000;
$inverse: #292b2c;
$faded: #f7f7f7;
$transparent: transparent;

//colors
$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "error": $error,
    "light": $light,
    "dark": $dark,
    "white": $white,
    "black": $black,
    "gray": #6c757d,
    "inverse": $inverse,
    "faded": $faded,
    "transparent": $transparent,
    "blue": #007bff,
    "indigo": #6610f2,
    "purple": #6f42c1,
    "pink": #e83e8c,
    "red": #dc3545,
    "orange": #fd7e14,
    "yellow": #ffc107,
    "green": #28a745,
    "sample": #000213
);

// @debug map-get($colors, "indigo");
// @debug map-has-key($colors, "primary");
// @debug map-remove($colors, "sample");
// @debug map-merge($colors, ("titanium" : #d1d1d1));

//spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

//borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

//box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

//font-size
$base-font-size: 1rem;
$font-size-xs: $base-font-size * 0.5;
$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size * 1.5;
$font-size-lg: $base-font-size * 2;
$font-size-xl: $base-font-size * 3;
$font-size-xxl: $base-font-size * 5;

