
/* reset styles */
* {
    color: inherit;
    margin: 0;
}

body{
    font-family: Poppins;
}

ul {
    list-style-type: none;
    padding: 0;
}

img {
    max-width: 100%;
  }
  
hr {
    border: 0;
    border-top: 1px solid $faded;
    margin: $base-margin 0;
}

h1, h2, h3, h4, h5, h6 {
    color: $primary;
    margin-bottom: $base-margin;
}

a {
    text-decoration: none;
}

button {
    border: none;
    border-radius: $base-border-radius;
    padding: $base-padding;
    cursor: pointer;
    &:hover {
        background-color: $faded;
    }
}

.error {
    color: $error;
    border-color: $secondary;
    border-style: solid;
    margin: $base-margin;
    padding: $base-padding;
    border-radius: $base-border-radius;
    border-width: $base-border-thickness;
}

.notification {
    color: $secondary;
    border-color: $secondary;
    border-style: solid;
    margin: $base-margin;
    padding: $base-padding;
    border-radius: $base-border-radius;
    border-width: $base-border-thickness;
}